#container {
  padding: 10px;
  margin-top: 7vh;
  background: #fff;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  border-radius: 9px;
  min-height: 60vh;
}

ion-content {
  --background: #8E44AD;
}
