#container {
  background: #fff;
  border-radius: 7px;
  padding: 10px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 9vh;
}

ion-content {
  --background: #5DADE2;
}
